:root {
  --blue: #2196f3;
  --light-grey: #f5f4fa;
  --white: #ffffff;
  --light-black: #757575;
  --black: #212121;
  --second-black: rgba(255, 255, 255, 0.1);
  --primary-background-color: #2f303a;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

/*Index html style */
body {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
/*Header section style */

.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 93px;
}
.span {
  color: var(--blue);
}
.logo-link {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.logo-link p {
  color: var(--black);
}
.nav-bar {
  display: flex;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.nav-link {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--blue);
  text-decoration: underline;
}

.header__info {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header__info-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--light-black);
}
.header__info-link:hover,
.header__info-link:focus {
  color: var(--blue);
  text-decoration: underline;
}
.header-social {
  width: 20px;
  height: 20px;
  margin-right: -50px;
}
.header-socials:hover {
  fill: transparent;
  background-color: var(--blue);
}

/*Hero section style */
.hero-section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 200px 0 280px;
}
.hero-section__title {
  text-align: center;
  font-size: 44px;
  font-family: inherit;
  line-height: 60px;
  color: var(--white);
  letter-spacing: 0.06em;
  font-weight: 900;
}
.hero-section__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
}
/*About section style */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.about-section h3 {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}
.about-section p {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--light-black);
  margin-bottom: 94px;
}
.about-icon {
  width: 267px;
  height: 120px;
  margin-left: 30px;
  padding: 25px 100px;
  top: 774px;
  left: 515px;
  border-radius: 4px 0px 0px 0px;
  display: inline-block;
  align-items: center;
  background-color: var(--light-grey);
}

/*What we do section style*/
h2 {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.what-we-do__img {
  display: flex;
  gap: 30px;
  margin-top: 94px;
  margin-bottom: 50px;
}
/*Team section style*/
.team-section {
  padding: 94px 0;
  background-color: var(--light-grey);
}
.team-section__items {
  display: flex;
  gap: 30px;
}
.team-section__item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  margin: 50px 30px 0 0;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-section__h3 {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.team-section__subtitle {
  text-align: center;
  margin: 4px 0 16px 0;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  color: var(--black);
}
.team-title {
  margin-top: 94px;
}
.team__socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.team__socials li {
  list-style: none;
  background-color: var(--white);
  margin: 0 30px 30px -32px;
  padding: 12px;
  border-radius: 100px;
}
.team__socials li:hover,
.team__socials li:focus {
  background-color: var(--blue);
  fill: var(--white);
}
.socials {
  width: 20px;
  height: 20px;
}

/*Customers section style*/
.customers-section ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 94px;
  fill: var(--white);
  list-style: none;
}
.customers-section li:hover {
  fill:var(--blue)
}
.customers__title {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 94px;
}
.customers__icons {
  width: 170px;
height: 92px;
top: 2493px;
left: 1215px;
border: 1px solid #AFB1B8;

}

.icons {
  width: 106px;
  height: 60px;
}

/*Footer section style*/
.footer-section {
  padding: 60px 0;
  display: flex;
  background-color: var(--primary-background-color);
  color: var(--white);
}
.address p {
  letter-spacing: 0.03rem;
}
.address-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}
.address-info__links {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  text-decoration: none;
}
.address-info__links:hover,
.address-info__links:focus {
  text-decoration: underline;
  color: var(--blue);
}
.footer-section .logo-link p {
  color: var(--white);
}

.find-us__title {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}
.find-us__socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.find-us__socials li {
  list-style: none;
  background-color: var(--second-black);
  margin: 0 30px 30px -32px;
  padding: 12px;
  border-radius: 100px;
}
.find-us__socials li:hover,
.find-us__socials li:focus {
  background-color: var(--blue);
  fill: var(--second-black);
}
.us__social {
  width: 20px;
  height: 20px;
}

/*Portfolio style*/
.header-portfolio .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 93px;
}
.span {
  color: var(--blue);
}
.logo-link {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.logo-link p {
  color: var(--black);
}
.nav-bar {
  display: flex;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
}
.header-portfolio__nav {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.nav-link {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--blue);
  text-decoration: underline;
}

.header-portfolio__info {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header__info-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--light-black);
}
.header__info-link:hover,
.header__info-link:focus {
  color: var(--blue);
  text-decoration: underline;
}

/*Main section style*/
.main-section__btn {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
}
.btn-item {
  background-color: var(--light-grey);
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
}
.btn-item:hover,
.btn-item:focus {
  color: var(--white-color);
 
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  0px 4px 4px 0px rgba(0, 0, 0, 0.06);, 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/* Img container section style */
.our-projects {
  margin-top: 20px;
  gap: 30px;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.our-projects-item {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
 0px 4px 4px 0px rgba(0, 0, 0, 0.06);, 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.our-projects__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  padding: 20px 0 4px 24px;
}
.our-projects__subtitle {
  padding: 0 0 20px 24px;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
}
/*Footer section style*/
.footer-section {
  padding: 60px 0;
  display: flex;
  background-color: var(--primary-background-color);
  color: var(--white);
}
.address p {
  letter-spacing: 0.03rem;
}
.address-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}
.address-info__links {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  text-decoration: none;
}
.address-info__links:hover,
.address-info__links:focus {
  text-decoration: underline;
  color: var(--blue);
}
.footer-section .logo-link p {
  color: var(--white);
}
